# Cloudflare R2 配置
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_DEFAULT_REGION=auto
AWS_ENDPOINT_URL=https://your_account_id.r2.cloudflarestorage.com
R2_BUCKET=bucket01
